<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="transferService" class="learning.ch_01.TransferService">
        <constructor-arg name="accountProvider" ref="accountProvider" />
    </bean>

    <bean id="accountProvider" class="learning.ch_01.AccountProvider" />
</beans>